apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: clickhouse-external-secret
  namespace: default
spec:
  refreshInterval: "15s" # How often this secret is synchronized
  secretStoreRef:
    name: vault-secretstore
    kind: ClusterSecretStore
  target: # Our target Kubernetes Secret
    name: clickhouse-secret # If not present, then the secretKey field under data will be used
    creationPolicy: Owner # This will create the secret if it doesn't exist
  data:
    - secretKey: clickhouse-pass
      remoteRef:
        key: sgn/clickhouse # This is the remote key in the secret provider (might change in meaning based on your provider)
        property: password # The property inside of the secret inside your secret provider
