[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
urllib3 = ">=1.26.5"

[packages]
simplejson = "*"
zeep = "*"
requests = "*"
aiohttp = "*"
stevedore = "*"
prometheus-client = "*"
grafana-api = "*"
telethon = "*"
pyrogram = "*"
tgcrypto = "*"
urllib3 = ">=1.26.5"
confluent-kafka = "*"

[requires]
#python_version = "3.6"
