[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
urllib3 = ">=1.26.5"
lxml = ">=4.6.5"
seatable-api = "*"

[packages]
simplejson = "*"
zeep = "*"
requests = "*"
aiohttp = "*"
prometheus-client = "*"
grafana-api = "*"
telethon = "*"
pyrogram = "*"
tgcrypto = "*"
urllib3 = ">=1.26.5"
confluent-kafka = "*"
kafka-python = "*"
msgpack = "*"
lxml = ">=4.6.5"
seatable-api = "*"
httpx = "*"
dulwich = "*"
pandas = "*"
memray = "*"
fire = "*"
molecule = {extras = ["docker"], version = "*"}
ansible-runner = "*"
beautifulsoup4 = "*"

[requires]
#python_version = "3.6"
